---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Brigadistas | Ecosistema Humboldt">
  <main>
    <section class="max-w-[90%] md:max-w-[70%] mx-auto mt-28">
      <ul role="list" class="link-card-grid">
        <Menu
          href="copasst"
          title="Copasst"
          classes="py-2 px-3"
          targets="_self"
        />
        <Menu
          href="convivencia"
          title="Comité de convivencia"
          classes="py-2 px-3"
          targets="_self"
        />
        <Menu
          href="#brigada"
          title="Brigadistas"
          classes="active py-2 px-3"
          targets="_self"
        />
      </ul>
    </section>
    <div class="max-w-[90%] mx-auto">
      <span
        onclick="history.back()"
        class="text-azul-humboldt text-base mt-10 mb-3 block cursor-pointer"
      >
        <img src="img/volver.svg" alt="volver" width="20" class="inline mr-3" />
        Volver
      </span>
      <h1 class="text-black text-4xl mt-32 mb-3 font-bold">Brigadistas</h1>
    </div>

    <section class="mt-10" id="brigada">
      <div class="max-w-[90%] mx-auto">
        <h2 class="my-5 text-center font-bold text-xl">
          Brigada de emergencia
        </h2>
        <br />

        <h3 class="my-5 text-center font-bold text-lg">Calle 28</h3>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <div>
            <img
              src="img/fotos/jackson.png"
              alt="Jackson"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />

            <p class="text-center">Jackson salas</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/yubi.png"
              alt="Yubi"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Yuby Alarcón</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/martha.png"
              alt="Martha"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Martha Hernandez</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <div>
            <img
              src="img/fotos/hernando.png"
              alt="Martha"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Hernando Cortés</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/jose.png"
              alt="Martha"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Jose Ballesteros</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
        </div>
        <br />
        <br />
        <h3 class="my-5 text-center font-bold text-lg">Calle 72</h3>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <div>
            <img
              src="img/fotos/juan.png"
              alt="juan"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Juan David Peña</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/adriana.png"
              alt="Luz"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Luz Adriana Moreno</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/nancy.png"
              alt="Nancy"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Nancy Bello</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/viviana.png"
              alt="Viviana"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Viviana Galán</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/maria-claudia.jpg"
              alt="Maria"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Maria Claudia González</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/claudia-alfonso.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Claudia Alfonso</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
        </div>
        <br />
        <br />
        <h3 class="my-5 text-center font-bold text-lg">Venado de Oro</h3>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <div>
            <img
              src="img/fotos/yuliana.png"
              alt="diana"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full object-cover"
            />

            <p class="text-center">Leidy Yuliana Vallejo</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/sandram.png"
              alt="Sandra"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full object-cover"
            />
            <p class="text-center">Sandra Medina</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <div>
            <img
              src="img/fotos/ximena.png"
              alt="Ximena"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full object-cover"
            />
            <p class="text-center">Ximena Parra</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/yeimy.png"
              alt="Yeimy"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full object-cover"
            />
            <p class="text-center">Yeimi Johana Rios</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/sandra-pena.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full object-cover"
            />
            <p class="text-center">Sandra Peña</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/gonzalo.png"
              alt="Gonzalo"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full object-cover"
            />
            <p class="text-center">Gonzalo Cabezas</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/laura.png"
              alt="Laura"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full object-cover"
            />
            <p class="text-center">Laura Juliana Sánchez</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <div>
            <img
              src="img/fotos/alejandran.png"
              alt="alejandra"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full object-cover"
            />
            <p class="text-center">Alejandra Narváez</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
        </div>
        <br />
        <br />
        <h3 class="my-5 text-center font-bold text-lg">Villa de Leyva</h3>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <div>
            <img
              src="img/fotos/carlos.png"
              alt="Carlos"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />

            <p class="text-center">Carlos Montaña</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/angela.png"
              alt="Angela"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Angela Gutierrez</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <div>
            <img
              src="img/fotos/diana-patricia.png"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Diana Espitia</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/deisy.png"
              alt="Deisy"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover mb-5 rounded-full"
            />
            <p class="text-center">Deisy Yaneth Cubides</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </section>
    <footer
      class="bg-azul-humboldt py-10 border-t-4 border-yellow-500 mt-5 absolute w-full"
      data-astro-cid-lptyvqux
    >
      <div class="max-w-[90%] mx-auto" data-astro-cid-lptyvqux>
        <div
          class="grid grid-cols-1 md:grid-cols-2 justify-items-stretch"
          data-astro-cid-lptyvqux
        >
          <div data-astro-cid-lptyvqux>
            <div
              class="grid grid-cols-[80px_calc(100%-80px)] justify-items-stretch gap-5 items-center"
              data-astro-cid-lptyvqux
            >
              <div class="max-w-[80px]" data-astro-cid-lptyvqux>
                <a
                  href="https://www.humboldt.org.co/"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-astro-cid-lptyvqux
                >
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/6583a5f7b42a8d484be84409_Logo-instituto-humboldt-blanco.svg"
                    alt=""
                    width="69"
                    data-astro-cid-lptyvqux
                  />
                </a>
              </div>
              <div
                class="w-full max-w-[300px] text-white pr-3"
                data-astro-cid-lptyvqux
              >
                Instituto de Investigación de Recursos Biológicos Alexander von
                Humboldt
              </div>
            </div>
          </div>
          <div data-astro-cid-lptyvqux>
            <ul
              class="flex justify-center md:justify-end mt-5 md:mt-0"
              data-astro-cid-lptyvqux
            >
              <li class="px-2" data-astro-cid-lptyvqux>
                <a
                  href="https://www.instagram.com/instituto_humboldt/?hl=en"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-astro-cid-lptyvqux
                >
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/657711e3cc843b07646baad6_icono-instagram-blanco.svg"
                    alt=""
                    width="32"
                    data-astro-cid-lptyvqux
                  />
                </a>
              </li>
              <li class="px-2" data-astro-cid-lptyvqux>
                <a
                  href="https://twitter.com/inst_humboldt?lang=en"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-astro-cid-lptyvqux
                >
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/657711199a64d7f0ef48c28c_icono-x-blanco.svg"
                    alt=""
                    width="32"
                    data-astro-cid-lptyvqux
                  />
                </a>
              </li>
              <li class="px-2" data-astro-cid-lptyvqux>
                <a
                  href="https://www.facebook.com/instituto.humboldt/"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-astro-cid-lptyvqux
                >
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/65771119a5763ee944f396c3_icono-facebook-blanco.svg"
                    alt=""
                    width="32"
                    data-astro-cid-lptyvqux
                  />
                </a>
              </li>
              <li class="px-2" data-astro-cid-lptyvqux>
                <a
                  href="https://www.linkedin.com/company/institutohumboldt/?originalSubdomain=co"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-astro-cid-lptyvqux
                >
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/657711190b1a571b7045f5c7_icono-linkedin-blanco.svg"
                    alt=""
                    width="32"
                    data-astro-cid-lptyvqux
                  />
                </a>
              </li>
              <li class="px-2" data-astro-cid-lptyvqux>
                <a
                  href="https://www.youtube.com/channel/UC-E-nTOTySNX90RbpH62ezA"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-astro-cid-lptyvqux
                >
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/65771119d66b0bd5f6a7af5f_icono-youtube-blanco.svg"
                    alt=""
                    width="32"
                    data-astro-cid-lptyvqux
                  />
                </a>
              </li>
              <li class="px-2" data-astro-cid-lptyvqux>
                <a
                  href="https://open.spotify.com/artist/6b3YLUNZoyMLWdadl3NDZm"
                  target="_blank"
                  rel="noopener noreferrer"
                  data-astro-cid-lptyvqux
                >
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/65771246c23bb08e9b3f3800_icono-spotify-blanco.svg"
                    alt=""
                    width="32"
                    data-astro-cid-lptyvqux
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr class="mt-10 mb-5" data-astro-cid-lptyvqux />
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 mt-10 justify-center"
          data-astro-cid-lptyvqux
        >
          <div data-astro-cid-lptyvqux>
            <div
              class="text-[12px] font-bold text-white mb-2"
              data-astro-cid-lptyvqux
            >
              INFORMACIÓN DE CONTACTO
            </div>
            <p class="text-white mb-2" data-astro-cid-lptyvqux>
              Calle 72 # 12 - 65 Piso 7 Bogotá D.C., Colombia
            </p>
            <p class="text-white mb-2" data-astro-cid-lptyvqux>
              PBX: (+57) 601 320 2767
            </p>
          </div>
          <div data-astro-cid-lptyvqux>
            <div
              class="text-[12px] font-bold text-white mb-2"
              data-astro-cid-lptyvqux
            >
              HORARIO DE ATENCIÓN
            </div>
            <p class="text-white mb-2" data-astro-cid-lptyvqux>
              Lunes a viernes 8:00 a.m. - 5:00 p.m.
            </p>
          </div>
          <div data-astro-cid-lptyvqux>
            <div
              class="text-[12px] font-bold text-white mb-2"
              data-astro-cid-lptyvqux
            >
              LÍNEAS ESPECIALES
            </div>
            <p class="text-white mb-4" data-astro-cid-lptyvqux>
              Línea anticorrupción:
              <span class="underline" data-astro-cid-lptyvqux
                >01 800 518 9191</span
              >
            </p>
          </div>
          <div data-astro-cid-lptyvqux>
            <div
              class="text-[12px] font-bold text-white mb-2"
              data-astro-cid-lptyvqux
            >
              ATENCIÓN AL CIUDADANO
            </div>
            <p class="text-white" data-astro-cid-lptyvqux>
              Correo PQRSF: <br data-astro-cid-lptyvqux />
              <a
                href="mailto:atencionalciudadano@humboldt.org.co"
                class="underline"
                data-astro-cid-lptyvqux>atencionalciudadano@humboldt.org.co</a
              >
            </p>
          </div>
        </div>
        <hr class="my-5" data-astro-cid-lptyvqux />
        <p class="text-center text-[12px] text-white" data-astro-cid-lptyvqux>
          © 2024 INSTITUTO DE INVESTIGACIÓN DE RECURSOS BIOLÓGICOS ALEXANDER
          VON HUMBOLDT
        </p>
      </div>
    </footer>
  </main>

  <script src="flowbite/dist/flowbite.min.js"></script>
</Layout>

<style>
  .link-card-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    margin: 1em auto;
    padding: 1em;
    border-radius: 10em;
  }
  .grid div img {
    border-radius: 50%;
    margin-top: 20px;
    max-height: 120px;
    width: auto;
  }

  @media screen and (max-width: 767px) {
    .link-card-grid {
      flex-direction: column;
      border: none;
      margin: 0.5em auto;
      padding: 1em;
    }
  }
</style>
