---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Brigadistas | Ecosistema Humboldt">
  <main>
    <section class="max-w-[90%] md:max-w-[70%] mx-auto mt-28">
      <ul role="list" class="link-card-grid">
        <Menu
          href="copasst"
          title="Copasst"
          classes="py-2 px-3"
          targets="_self"
        />
        <Menu
          href="convivencia"
          title="Comité de convivencia"
          classes="py-2 px-3"
          targets="_self"
        />
        <Menu
          href="#brigada"
          title="Brigadistas"
          classes="active py-2 px-3"
          targets="_self"
        />
      </ul>
    </section>
    <div class="max-w-[90%] mx-auto">
      <span
        onclick="history.back()"
        class="text-azul-humboldt text-base mt-10 mb-3 block cursor-pointer"
      >
        <img src="img/volver.svg" alt="volver" width="20" class="inline mr-3" />
        Volver
      </span>
      <h1 class="text-black text-4xl mt-32 mb-3 font-bold">Brigadistas</h1>
    </div>

    <section class="mt-10" id="brigada">
      <div class="max-w-[90%] mx-auto">
        <h2 class="my-5 text-center font-bold text-xl">
          Brigada de emergencia
        </h2>
        <h3 class="my-5 text-center font-bold text-lg">Calle 28</h3>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="diana"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />

            <p class="text-center">Jackson salas</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/Isabel-Garcia.png"
              alt="Isabel"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Yuby Alarcón</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Martha Hernandez</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
        </div>
        <h3 class="my-5 text-center font-bold text-lg">Calle 72</h3>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="diana"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />

            <p class="text-center">Diana Lozano</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Isabel"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Yecid Hernandez</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Isabel"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Nancy Bello</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Viviana Galán</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Luz Adriana Moreno</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/claudia-alfonso.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Claudia Alfonso</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
        </div>
        <h3 class="my-5 text-center font-bold text-lg">Venado de Oro</h3>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <div>
            <img
              src="img/fotos/maria-claudia.jpg"
              alt="diana"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />

            <p class="text-center">Maria Claudia Gonzalez</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Isabel"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Sandra Medina</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Ximena Parra</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Yeimi Johana Rios</p>
            <p class="text-center text-sm">Control de fuego</p>
          </div>
          <div>
            <img
              src="img/fotos/sandra-pena.jpg"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Sandra Peña</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
        </div>
        <h3 class="my-5 text-center font-bold text-lg">Villa de Leyva</h3>
        <div class="grid grid-cols-2 md:grid-cols-4">
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="diana"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />

            <p class="text-center">Carlos Montaña</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
          <div>
            <img
              src="img/fotos/avatar.jpg"
              alt="Isabel"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Angela Gutierrez</p>
            <p class="text-center text-sm">Primeros auxilios</p>
          </div>
          <div>
            <img
              src="img/fotos/diana-patricia.png"
              alt="Erika"
              width="100"
              height="100"
              class="block mx-auto w-[150px] h-[150px] object-cover"
            />
            <p class="text-center">Diana Espitia</p>
            <p class="text-center text-sm">Rescate y evacuación</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="flowbite/dist/flowbite.min.js"></script>
</Layout>

<style>
  .link-card-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    margin: 1em auto;
    padding: 1em;
    border-radius: 10em;
  }
  .grid div img {
    border-radius: 50%;
    margin-top: 20px;
    max-height: 120px;
    width: auto;
  }

  @media screen and (max-width: 767px) {
    .link-card-grid {
      flex-direction: column;
      border: none;
      margin: 0.5em auto;
      padding: 1em;
    }
  }
</style>
