---
import Layout from "../layouts/Layout-gray.astro";
import Noticias from "../components/Noticias.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Portada | Ecosistema Humboldt">
  <main class="relative">  
    
    
    <section class="max-w-[90%] mx-auto h-auto  bg-contain bg-right-bottom lg:bg-right-top bg-no-repeat py-16 mt-12" id="operamos">
      <h1 class="text-5xl md:text-7xl mt-20 text-azul-humboldt">
        ¿CÓMO OPERAMOS?
      </h1>
     <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pt-40 min-h-[30vh] lg:max-w-[80%] gap-12 lg:gap-4">
      <div class="relative">    
        <div class="group">
          <img src="img/mas.png" alt="boton más" class="absolute -top-10 right-0 border-2 rounded-full" width="30">
          <p class=" hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-70 p-4 rounded-lg max-w-[240px] font-light ">
            Ingresa al centro operacional y documental de cada una de las áreas del Instituto
          </p>
        </div>
        <a href="" class=" lg:mx-auto block border-2 border-azul-humboldt px-5 py-3 rounded-full text-xl bg-[#E0E0E0] text-azul-humboldt hover:text-white hover:bg-azul-humboldt max-w-fit">
          Lineamientos  para la operación
        </a>
      </div>
      <div class="relative">
        <div class="group ">
          <img src="img/mas.png" alt="boton más" class="absolute -top-10 right-8 border-2 rounded-full" width="30">
          <p class=" hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-70 p-4 rounded-lg  max-w-[240px] font-light ">
            Conoce la estructura y funcionamiento organizacional del Instituto
          </p>
        </div>        
        <a href="" class=" lg:mx-auto block border-2 border-azul-humboldt px-5 py-3 rounded-full text-xl bg-[#E0E0E0] text-azul-humboldt hover:text-white hover:bg-azul-humboldt max-w-fit">
          Estructura organizacional
        </a>
      </div>
      <div class="relative">

        <div class="group">
          <img src="img/mas.png" alt="boton más" class="absolute -top-10 right-8 border-2 rounded-full" width="30">
          <p class=" hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-70 p-4 rounded-lg  max-w-[240px] font-light ">
            Infórmate del progreso de cada uno de los proyectos institucionales
          </p>
        </div>
        
        <a href="" class=" lg:mx-auto block border-2 border-azul-humboldt px-5 py-3 rounded-full text-xl  bg-[#E0E0E0] text-azul-humboldt hover:text-white hover:bg-azul-humboldt max-w-fit">
          Proyectos  Institucionales
        </a>
      </div>
     </div>
      
    </section>

  </main>
</Layout>

<style>
  #operamos{
    background-image: url('img/sonidos-min.png') ; 
  }
  .link-card-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    margin: 1em auto;
    border-radius: 10em;
  }
  @media screen and (max-width: 767px) {
    .link-card-grid {
      flex-direction: column;
      border: none;
      margin: 0.5em auto;
    }
  }
</style>
