---
import Layout from "../layouts/Layout-dark-blue.astro";
---

<Layout title="Portada | Ecosistema Humboldt">
  <main class="relative">
    <section
      class="max-w-[90%] mx-auto h-auto bg-contain bg-center lg:bg-right-top bg-no-repeat py-12"
      id="oso"
    >
      <h1 class="text-6xl md:text-7xl mt-20 text-white">
        Nuestras herramientas de trabajo
      </h1>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pt-40 min-h-[30vh] lg:max-w-[80%] gap-y-20 gap-12"
      >
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img
                src="img/biobservo.png"
                alt="logo biobservo"
                class="block"
                width="150"
              />
              Herramienta de identificación, seguimiento y análisis de información
              desde la interfaz ciencia-política.
            </p>
          </div>

          <a
            href="https://observatorio.humboldt.org.co/"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            Biobservo
          </a>
        </div>
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img
                src="img/gdoc.png"
                alt="logo gdoc"
                class="block"
                width="150"
              />
              Repositorio de información de los documentos generados desde las distintas
              áreas del Instituto.
            </p>
          </div>

          <a
            href="https://gdocumental.humboldt.org.co/lg.php"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            GDoc
          </a>
        </div>

        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img
                src="img/signio.png"
                alt="logo gdoc"
                class="block"
                width="100"
              />
              Herramienta autorizada para la firma electrónica de documentos del
              Instituto.
            </p>
          </div>

          <a
            href="https://app.legops.com/signio/login"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            Signio
          </a>
        </div>
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img
                src="img/bia.png"
                alt="logo gdoc"
                class="block"
                width="150"
              />
              Encontrarás material fotográfico producido por el Instituto en las
              últimas dos décadas.
            </p>
          </div>

          <a
            href="http://bia.humboldt.org.co/"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            BIA
          </a>
        </div>
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img src="img/pit.png" alt="logo gdoc" class="block" width="60" />
              Herramienta para el registro de avance y seguimiento de las actividades
              individuales asociadas a los entregables y productos definidos en el
              (los) proyecto(s) de inversión en el marco del POA.
            </p>
          </div>

          <a
            href="http://intranet.humboldt.org.co/"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            PIT
          </a>
        </div>

        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img
                src="img/orfeo.png"
                alt="logo gdoc"
                class="block"
                width="150"
              />
              Herramienta para dar respuesta oportuna y con éxito a todas las PQRSF que
              se reciben en el Instituto.
            </p>
          </div>

          <a
            href="http://atencionalciudadano.humboldt.org.co/login.php"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            Orfeo
          </a>
        </div>

        <!-- ingreso de tablero seguimiento -->
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img src="img/tablero.png" alt="" class="block" width="150" />
              Herramienta para el control y seguimiento de los planes de mejoramiento
              realizados por auditoría interna.
            </p>
          </div>

          <a
            href="tablero"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            Tablero de Seguimiento
          </a>
        </div>

        <!-- auditoria interna -->
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img
                src="img/Plan-de-auditoria-interna.png"
                alt=""
                class="block"
                width="150"
              />
              <br />
              Actividades de auditoría relacionadas con los roles e informes de competencia
              del área.
            </p>
          </div>
          <a
            href="https://docs.google.com/spreadsheets/d/1SFfFVs2a2LT_g7epNLkNnYobkxUr0OPz/edit?gid=1950241783#gid=1950241783"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            Auditoría Interna
          </a>
        </div>

        <!-- ingreso campus humboldt  -->
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img src="img/Logo-campus.png" alt="" class="block" width="150" />
              Un espacio de aprendizaje corporativo diseñado para impulsar el conocimiento,
              la innovación y el crecimiento profesional.
            </p>
          </div>

          <a
            href="https://campushumboldt.org/"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-2xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            Campus Humboldt
          </a>
        </div>
        <!-- repositorio humboldt -->
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img
                src="img/Repositorio-humboldt.png"
                alt=""
                class="block"
                width="150"
              />
              Consulta aquí las producciones científicas generadas por el Instituto.
            </p>
          </div>

          <a
            href="https://repository.humboldt.org.co/home"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            Repositorio Institucional Humboldt
          </a>
        </div>

        <!-- Plan View -->
        <div class="relative">
          <div class="group">
            <img
              src="img/mas.png"
              alt="boton más"
              class="absolute -top-10 right-2 border-2 rounded-full"
              width="30"
            />
            <p
              class="hidden group-hover:block absolute -top-40 -right-5 mr-10 bg-white bg-opacity-90 p-4 rounded-lg max-w-[240px] font-light"
            >
              <img src="img/Planview.png" alt="" class="block" width="150" />
              Herramienta de gestión de proyectos del modelo BIOProyectos. Esta permite
              a los equipos gestionar el trabajo, optimizar los flujos y responder
              al cambio en tiempo real.
            </p>
          </div>
          <a
            href="https://app2.clarizen.com/Clarizen/Pages/Service/Login.aspx?ReturnUrl=%2fClarizen%2f"
            target="_blank"
            class="group min-w-[150px] min-h-[70px] text-center border-2 border-white px-5 py-3 rounded-full text-xl bg-azul-humboldt text-white hover:text-black hover:border-2 hover:border-black hover:bg-white justify-center items-center flex"
          >
            Planview AdaptiveWork
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  #oso {
    background-image: url("img/oso_fondo-min.png");
  }
  .link-card-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    margin: 1em auto;
    border-radius: 10em;
  }
  @media screen and (max-width: 767px) {
    .link-card-grid {
      flex-direction: column;
      border: none;
      margin: 0.5em auto;
    }
  }
</style>
