---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Estructura | Ecosistema Humboldt">
  <main>
    <div class="max-w-[90%] mx-auto">
      <h1 class="text-black text-5xl mt-32 mb-3 font-bold">
        Proyectos institucionales
      </h1>

      <hr class="mt-10 mb-20 border-gray-500" />
    </div>
    <section class="max-w-[90%] mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
        <div
          class="group relative grid rounded-lg bg-[#DCE0CD] p-3 transition-colors"
        >
          <a
            href="https://app2.clarizen.com/Clarizen/Ext/WidgetSubsystemPage.aspx?wt=ViewSubsystem&uid=9.725838721.39907457&wid=dCZVd93aIUWaN2txAPaimg&pid=453.741111617.39907457&vid=354.397073473.39907457&ccontx=EnhancementRequest&rlop=ShowRelationsWithProperties&el=0&vietyp=Subsystem&psw=1&CSig=8E15922CA543DCDF01E34D90F6341042171CA9EE"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center h-full my-auto mx-auto"
          >
            <p class="text-xl text-center font-light max-w-[220px] mx-auto">
              Iniciativas
            </p>
          </a>
          <div
            class="absolute top-[-60px] left-1/2 -translate-x-1/2 z-20 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <div
              class="relative w-[400px] bg-black text-white text-center px-4 py-2 rounded-lg shadow-lg opacity-60"
            >
              Contraseña de ingreso al reporte: <i>Iniciativas#30</i>
              <div
                class="absolute left-1/2 -bottom-4 w-3 h-3 bg-black rotate-45 -translate-x-1/2 shadow-md"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="group relative grid rounded-lg bg-[#DCE0CD] hover:bg-black hover:text-white p-3 transition-colors"
        >
          <a
            href="https://app2.clarizen.com/Clarizen/Ext/WidgetSubsystemPage.aspx?wt=ViewSubsystem&uid=9.725838721.39907457&wid=dCZVd93aIUWaN2txAPaimg&pid=453.741111617.39907457&vid=354.397073473.39907457&ccontx=EnhancementRequest&rlop=ShowRelationsWithProperties&el=0&vietyp=Subsystem&psw=1&CSig=8E15922CA543DCDF01E34D90F6341042171CA9EE"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center h-full my-auto mx-auto"
          >
            <p class="text-xl text-center font-light max-w-[220px] mx-auto">
              Cadena PAI
            </p>
          </a>

          <div
            class="absolute top-[-60px] left-1/2 -translate-x-1/2 z-20 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <div
              class="relative w-[400px] bg-black text-white text-center px-4 py-2 rounded-lg shadow-lg opacity-60"
            >
              Contraseña de ingreso al reporte: <i>Proyectos#30</i>
              <div
                class="absolute left-1/2 -bottom-4 w-3 h-3 bg-black rotate-45 -translate-x-1/2 shadow-md"
              >
              </div>
            </div>
          </div>
        </div>
        <div
          class="grid rounded-lg bg-[#DCE0CD] hover:bg-black hover:text-white p-3"
        >
          <a
            href="https://docs.google.com/spreadsheets/d/1v5AkeUAz7BF-RMkPMKXYWC7OhW1jgEf6NbqHAvKUQQY/edit?gid=811157212#gid=811157212"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center h-full my-auto mx-auto rounded-lg"
          >
            <!-- <img
                src="img/estrategico.svg"
                alt=""
                width="60"
                class="block mx-auto my-auto py-3 px-2"
              /> -->

            <div class="items-center">
              <p
                class="flex justify-center items-center h-full text-xl text-center font-light hover:text-white max-w-[220px] mx-auto"
              >
                Cadena POA
              </p>
            </div>
          </a>
        </div>

        <div
          class="group relative grid rounded-lg bg-[#DCE0CD] p-6 transition-colors"
        >
          <p
            class="text-xl text-center font-light max-w-[220px] mx-auto group-hover:text-transparent"
          >
            Reporte POA
          </p>
          <div
            class="absolute inset-8 flex flex-col items-center bg-[#DCE0CD] justify-center gap-2 opacity-0 group-hover:opacity-100 z-10 transition-opacity"
          >
            <a
              href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQcuyDxCa53HGgM5CVHcKMONlNT-hu8wUcoxPOEXt9MWwz6_nGzmVV09VhFXPgbdqShftqkhfyIhp6L/pubhtml?gid=1133110416&single=true"
              target="_blank"
              rel="noopener noreferrer"
              class="bg-white text-black px-4 w-80 text-center rounded-lg opacity-80 hover:bg-black border-black hover:text-white transition"
            >
              Informe de Avance Cuantitativo
            </a>
            <a
              href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQcuyDxCa53HGgM5CVHcKMONlNT-hu8wUcoxPOEXt9MWwz6_nGzmVV09VhFXPgbdqShftqkhfyIhp6L/pubhtml?gid=158568542&single=true"
              target="_blank"
              rel="noopener noreferrer"
              class="bg-white text-black px-4 w-80 text-center rounded-lg opacity-80 hover:bg-black border-black hover:text-white transition"
            >
              Informe de Avance Cualitativo
            </a>
          </div>
        </div>
        <div
          class="grid rounded-lg bg-[#DCE0CD] hover:bg-black hover:text-white p-3"
        >
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="h-full my-auto mx-auto rounded-lg flex items-center"
          >
            <!-- <img
                src="img/marco.svg"
                alt=""
                width="60"
                class="block mx-auto my-auto py-3 px-2"
              /> -->

            <div class="items-center">
              <p
                class="flex justify-center items-center h-full text-xl text-center font-light hover:text-white max-w-[220px] mx-auto"
              >
                Reporte PAI (Proximamente)
              </p>
            </div>
          </a>
        </div>
        <div
          class="grid rounded-lg bg-[#DCE0CD] hover:bg-black hover:text-white p-3"
        >
          <a
            href="https://lookerstudio.google.com/s/i0rbyaMyMsI"
            target="_blank"
            rel="noopener noreferrer"
            class="h-full my-auto mx-auto rounded-lg flex items-center"
          >
            <!-- <img
                src="img/marco.svg"
                alt=""
                width="60"
                class="block mx-auto my-auto py-3 px-2"
              /> -->

            <div class="items-center">
              <p
                class="flex justify-center items-center h-full text-xl text-center font-light hover:text-white max-w-[220px] mx-auto"
              >
                POA 2025 - Proyectos de Inversión PGN
              </p>
            </div>
          </a>
        </div>
        <div
          class="grid rounded-lg bg-[#DCE0CD] hover:bg-black hover:text-white p-3"
        >
          <a
            href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQm7ABYI8TyBk8gDhxCO7NKgwt3mXOSFnbYa-_2qjnoKzKXNjSQaELEYwyPWlh2DwAHhWSVF7kOXbEv/pubhtml?gid=1660727640&single=true"
            target="_blank"
            rel="noopener noreferrer"
            class="h-full my-auto mx-auto rounded-lg flex items-center"
          >
            <!-- <img
                src="img/marco.svg"
                alt=""
                width="60"
                class="block mx-auto my-auto py-3 px-2"
              /> -->

            <div class="items-center">
              <p
                class="flex justify-center items-center h-full text-xl text-center font-light hover:text-white max-w-[220px] mx-auto"
              >
                Cronograma de Proyectos
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- <footer
      class="bg-azul-humboldt py-10 border-t-4 border-yellow-500 mt-5 absolute w-full"
    >
      <div class="max-w-[90%] mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 justify-items-stretch">
          <div>
            <div
              class="grid grid-cols-[80px_calc(100%-80px)] justify-items-stretch gap-5 items-center"
            >
              <div class="max-w-[80px]">
                <a href="https://www.humboldt.org.co/" target="_blank" rel="noopener noreferrer">
                  <img
                  src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/6583a5f7b42a8d484be84409_Logo-instituto-humboldt-blanco.svg"
                  alt=""
                  width="69"
                />
                </a>
                
              </div>
              <div class="w-full max-w-[300px] text-white pr-3">
                Instituto de Investigación de Recursos Biológicos Alexander von
                Humboldt
              </div>
            </div>
          </div>

          <div>
            <ul class="flex justify-center md:justify-end mt-5 md:mt-0">
              <li class="px-2">
                <a href="https://www.instagram.com/instituto_humboldt/?hl=en" target="_blank" rel="noopener noreferrer">
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/657711e3cc843b07646baad6_icono-instagram-blanco.svg"
                    alt=""
                    width="32"
                  />
                </a>
              </li>
              <li class="px-2">
                <a href="https://twitter.com/inst_humboldt?lang=en" target="_blank" rel="noopener noreferrer">
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/657711199a64d7f0ef48c28c_icono-x-blanco.svg"
                    alt=""
                    width="32"
                  />
                </a>
              </li>
              <li class="px-2">
                <a href="https://www.facebook.com/instituto.humboldt/" target="_blank" rel="noopener noreferrer">
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/65771119a5763ee944f396c3_icono-facebook-blanco.svg"
                    alt=""
                    width="32"
                  />
                </a>
              </li>
              
              
              <li class="px-2">
                <a href="https://www.linkedin.com/company/institutohumboldt/?originalSubdomain=co" target="_blank" rel="noopener noreferrer">
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/657711190b1a571b7045f5c7_icono-linkedin-blanco.svg"
                    alt=""
                    width="32"
                  />
                </a>
              </li>
              <li class="px-2">
                <a href="https://www.youtube.com/channel/UC-E-nTOTySNX90RbpH62ezA" target="_blank" rel="noopener noreferrer">
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/65771119d66b0bd5f6a7af5f_icono-youtube-blanco.svg"
                    alt=""
                    width="32"
                  />
                </a>
              </li>
              <li class="px-2">
                <a href="https://open.spotify.com/artist/6b3YLUNZoyMLWdadl3NDZm" target="_blank" rel="noopener noreferrer">
                  <img
                    src="https://assets-global.website-files.com/64bea006689ebc2d5d9499ad/65771246c23bb08e9b3f3800_icono-spotify-blanco.svg"
                    alt=""
                    width="32"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <hr class="mt-10 mb-5" />

        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 mt-10 justify-center"
        >
          <div>
            <div class="text-[12px] font-bold text-white mb-2">
              INFORMACIÓN DE CONTACTO
            </div>
            <p class="text-white mb-2">
              Calle 72 # 12 - 65 Piso 7 Bogotá D.C., Colombia
            </p>
            <p class="text-white mb-2">PBX: (+57) 601 320 2767</p>
          </div>
          <div>
            <div class="text-[12px] font-bold text-white mb-2">
              HORARIO DE ATENCIÓN
            </div>
            <p class="text-white mb-2">Lunes a viernes 8:00 a.m. - 5:00 p.m.</p>
          </div>
          <div>
            <div class="text-[12px] font-bold text-white mb-2">
              LÍNEAS ESPECIALES
            </div>
            
            <p class="text-white mb-4">
              Línea anticorrupción: <span class="underline"
                >01 800 518 9191</span
              >
            </p>
          </div>
          <div>
            <div class="text-[12px] font-bold text-white mb-2">
              ATENCIÓN AL CIUDADANO
            </div>
            <p class="text-white">
              Correo PQRSF: <br />
              <a
                href="mailto:atencionalciudadano@humboldt.org.co"
                class="underline">atencionalciudadano@humboldt.org.co</a
              >
            </p>
          </div>
        </div>

        <hr class="my-5" />

        <p class="text-center text-[12px] text-white">
          © 2024 INSTITUTO DE INVESTIGACIÓN DE RECURSOS BIOLÓGICOS ALEXANDER
          VON HUMBOLDT
        </p>
      </div>
    </footer> -->
  </main>
</Layout>
