---

---

<!-- Slider main container --><!-- Additional required wrapper -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.css"
  integrity="sha256-jLWPhwkAHq1rpueZOKALBno3eKP3m4IMB131kGhAlRQ="
  crossorigin="anonymous"
/>

<div id="calendar" class="barra"></div>

<script>
  import { Calendar } from "@fullcalendar/core";
  import dayGridPlugin from "@fullcalendar/daygrid";

  document.addEventListener("DOMContentLoaded", function () {
    let calendarEl: HTMLElement = document.getElementById("calendar")!;

    let calendar = new Calendar(calendarEl, {
      plugins: [dayGridPlugin],
      height: 730,
      locale: "es",
      headerToolbar: {
        start: "today prev,next",
        center: "title",
        end: "dayGridMonth,dayGridWeek,dayGridDay",
      },

      events: [
        {
          title: "Maria Piedad Baptiste Espinosa",
          start: "2024-10-04",
        },
        {
          title: "Claudia Maria Villa Garcia",
          start: "2024-08-25",
        },
        {
          title: "Clara Cecilia González Castro",
          start: "2024-06-25",
        },
        {
          title: "Claudia Johanna Galvis Galindo",
          start: "2024-03-06",
        },
        {
          title: "Ana Patricia Sanchez Marquez",
          start: "2024-11-30",
        },
        {
          title: "Maria del Socorro Sierra Buitrago",
          start: "2024-04-20",
        },
        {
          title: "Claudia Alejandra Medina Uribe",
          start: "2024-09-12",
        },
        {
          title: "Hernando Garcia Martinez",
          start: "2024-06-01",
        },
        {
          title: "Rodrigo Moreno Villamil",
          start: "2024-10-05",
        },
        {
          title: "Carlos Andres Lasso Alcala",
          start: "2024-03-21",
        },
        {
          title: "Ronald Alejandro Guevara Urrea",
          start: "2024-05-19",
        },
        {
          title: "Sandra Patricia Medina Saiz",
          start: "2024-06-19",
        },
        {
          title: "Edwin Daniel Torres Pineda",
          start: "2024-11-17",
        },
        {
          title: "Miguel Angel Torres Pineda",
          start: "2024-10-28",
        },
        {
          title: "Carlos Ricardo Montaña Gil",
          start: "2024-12-25",
        },
        {
          title: "Aura Eugenia Robles Pardo",
          start: "2024-02-24",
        },
        {
          title: "Alba Yaneth Robles Pardo",
          start: "2024-07-25",
        },
        {
          title: "Nidia Mariney Rodriguez Espitia",
          start: "2024-10-30",
        },
        {
          title: "Diana Marcela Torres Paez",
          start: "2024-12-21",
        },
        {
          title: "Diana Lucía Botero Jerez",
          start: "2024-11-01",
        },
        {
          title: "Lina Maria Sanchez Clavijo",
          start: "2024-03-22",
        },
        {
          title: "Paola Carolina Pinto Escobar",
          start: "2024-12-09",
        },
        {
          title: "Diana Patricia Espitia Reina",
          start: "2024-08-07",
        },
        {
          title: "Clara Patricia Garzón Leon",
          start: "2024-09-23",
        },

        {
          title: "María Cecilia Londoño Murcia",
          start: "2024-05-27",
        },
        {
          title: "Maria Fernanda Gomez Ahumada",
          start: "2024-11-26",
        },
        {
          title: "Gersson Farid Vergel Mendieta",
          start: "2024-09-01",
        },
        {
          title: "German Arturo Corzo Mora",
          start: "2024-12-01",
        },
        {
          title: "Daniela Martinez Medina",
          start: "2024-11-21",
        },
        {
          title: "Mailyn Adriana Gonzalez Herrera",
          start: "2024-02-11",
        },
        {
          title: "Emmerson Miguel Pastas Cuastumal",
          start: "2024-08-08",
        },
        {
          title: "David Fernando Gonzalez Tovar",
          start: "2024-01-27",
        },
      ],
    });

    calendar.render();
  });
</script>
