---

---

<!-- Slider main container --><!-- Additional required wrapper -->
<div class="swiper-wrapper">
  <!-- Slides -->
  <div class="swiper-slide">
    <a
      href="https://script.google.com/a/macros/humboldt.org.co/s/AKfycbwffNCZbuvob-LD0tKkdy2wm06p_8Bow5121q7jABBNxztqxoiasVxNk0BUapGV5UAI/exec"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-1.gif"
        alt="van de la biodiversidad"
        class="w-full rounded-lg"
      />
    </a>
  </div>

  <div class="swiper-slide">
    <a
      href="https://bioverso.org/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-2.gif"
        alt="Bioverso"
        class="w-full rounded-lg"
      />
    </a>
  </div>
  <div class="swiper-slide">
    <a href="https://drive.google.com/file/d/1Xph3IJZ_-gZAsLhgt6lbzanK8_TqKend/view" target="" rel="noopener noreferrer">
      <img
        src="img/banner/banner-intra-3.gif"
        alt="Ingreso visitantes"
        class="w-full rounded-lg"
      />
    </a>
  </div>
  <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1g2i3wNTweZyYncr_HGFTeQ9IqEWXRnuL/view"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-4.gif"
        alt="Reserva Sala"
        class="w-full rounded-lg"
      />
    </a>
  </div>
  <!-- <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1jiMC_nYgPEVed0ATJRW7k3xWnOJJh7qM/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/Banner-intra-5.png"
        alt="agéndate"
        class="w-full rounded-lg"
      />
    </a>
  </div> 
  <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1Xph3IJZ_-gZAsLhgt6lbzanK8_TqKend/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-6.jpg"
        alt="Ingreso visitantes"
        class="w-full rounded-lg"
      />
    </a>
  </div>-->

  <script>
    import "swiper/css";
    import Swiper from "swiper";
    import { register } from "swiper/element/bundle";
    register();

    const swiper = new Swiper("#noticias", {
      slidesPerView: 1,
      autoplay: true,
      loop: true,
      speed: 10000,
      pagination: {
        el: ".swiper-pagination",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</div>
