---

---

<!-- Slider main container --><!-- Additional required wrapper -->
<div class="swiper-wrapper">
  <!-- Slides -->
  <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1-NzuICRuVNAG7Oy5eByv791HohOvtW0s/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-1.jpg"
        alt="van de la biodiversidad"
        class="w-full rounded-lg"
      />
    </a>
  </div>

  <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1w7GvQOHjrteUWRNE41S6ybGs4ThdTIPY/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-2.jpg"
        alt="Angendate"
        class="w-full rounded-lg"
      />
    </a>
  </div>
  <div class="swiper-slide">
    <a href="" target="" rel="noopener noreferrer">
      <img
        src="img/banner/banner-intra-3.jpg"
        alt="Javeriana"
        class="w-full rounded-lg"
      />
    </a>
  </div>
  <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1g2i3wNTweZyYncr_HGFTeQ9IqEWXRnuL/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-4.jpg"
        alt="Reserva Sala"
        class="w-full rounded-lg"
      />
    </a>
  </div>
  <!-- <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1jiMC_nYgPEVed0ATJRW7k3xWnOJJh7qM/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/Banner-intra-5.png"
        alt="agéndate"
        class="w-full rounded-lg"
      />
    </a>
  </div> -->
  <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1Xph3IJZ_-gZAsLhgt6lbzanK8_TqKend/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-6.jpg"
        alt="Ingreso visitantes"
        class="w-full rounded-lg"
      />
    </a>
  </div>

  <script>
    import "swiper/css";
    import Swiper from "swiper";
    import { register } from "swiper/element/bundle";
    register();

    const swiper = new Swiper("#noticias", {
      slidesPerView: 1,
      autoplay: true,
      loop: true,
      speed: 10000,
      pagination: {
        el: ".swiper-pagination",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</div>
