---

---

<!-- Slider main container --><!-- Additional required wrapper --><!-- banner 1 -->
<div class="swiper-wrapper">
  <!-- Slides -->
  <div class="swiper-slide">
    <a
      href="https://script.google.com/a/macros/humboldt.org.co/s/AKfycbwffNCZbuvob-LD0tKkdy2wm06p_8Bow5121q7jABBNxztqxoiasVxNk0BUapGV5UAI/exec"
      target="_blanck"
      rel="noopener noreferrer"
    >
      <img
        src="public/img/banner/Banner-ecosistema-2.jpg"
        alt="van de la biodiversidad"
        class="w-full rounded-lg"
      />
    </a>
  </div>

  <!-- banner 2 -->
  <div class="swiper-slide">
    <a
      href="public/docs/beneficios-cajas-humboldt.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="public/img/banner/banner-cajas-de-compensacion1.gif"
        alt="Cajas de compensación"
        class="w-full rounded-lg"
      />
    </a>
  </div>

  <!-- banner 3 -->
  <div class="swiper-slide">
    <a
      href="https://script.google.com/a/macros/humboldt.org.co/s/AKfycbxvVs1ptbSDZdQwIndeR1_gUaGsyMT2-dNHGSIHzsL0TiU2qOosbmpzL-hHFhqOYsIw0w/exec "
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="public/img/banner/Banner-ecosistema-1.jpg"
        alt="Colibrí"
        class="w-full rounded-lg"
      />
    </a>
  </div>
  <!-- <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1jiMC_nYgPEVed0ATJRW7k3xWnOJJh7qM/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/Banner-intra-5.png"
        alt="agéndate"
        class="w-full rounded-lg"
      />
    </a>
  </div> 
  <div class="swiper-slide">
    <a
      href="https://drive.google.com/file/d/1Xph3IJZ_-gZAsLhgt6lbzanK8_TqKend/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/banner-intra-6.jpg"
        alt="Ingreso visitantes"
        class="w-full rounded-lg"
      />
    </a>
  </div>-->

  <script>
    import "swiper/css";
    import Swiper from "swiper";
    import { register } from "swiper/element/bundle";
    register();

    const swiper = new Swiper("#noticias", {
      slidesPerView: 1,
      autoplay: true,
      loop: true,
      speed: 10000,
      pagination: {
        el: ".swiper-pagination",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</div>
