---

---

<!-- Slider main container --><!-- Additional required wrapper -->
<div class="swiper-wrapper">
  <!-- Slides -->
  <div class="swiper-slide">
    <a
      href="https://cop16.humboldt.org.co/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="img/banner/Banner-intra-3.png"
        alt="COP16-CasaHumboldt"
        class="w-full rounded-lg"
      />
    </a>
    <!-- <div class="absolute bottom-0 bg-azul-humboldt w-full px-5 py-2">
			<p class="text-base text-white">
				<b>Noticias</b>
			</p>
			<p class="text-base text-white">
				La intranet del Instituto se renueva y pasa a ser Ecosistema Humboldt
			</p>
			<a href="#" class="text-sm text-white underline decoration-solid">Ver Más</a>
		</div> -->
  </div>

  <div class="swiper-slide">
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img
        src="img/banner/Banner-intra-2.png"
        alt="novedades de nómina"
        class="w-full rounded-lg"
      />
    </a>

    <!-- <div class="absolute bottom-0 bg-azul-humboldt w-full px-5 py-2">
			<p class="text-base text-white">
				<b>Noticias</b>
			</p>
			<p class="text-base text-white">
				La intranet del Instituto se renueva y pasa a ser Ecosistema Humboldt
			</p>
			<a href="#" class="text-sm text-white underline decoration-solid">Ver Más</a>
		</div> -->
  </div>
  <div class="swiper-slide">
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img
        src="img/banner/Banner-intra-1.png"
        alt="noticia 1 van Humboldt"
        class="w-full rounded-lg"
      />
    </a>
    <!-- <div class="absolute bottom-0 bg-azul-humboldt w-full px-5 py-2">
			<p class="text-base text-white">
				<b>Noticias</b>
			</p>
			<p class="text-base text-white">
				La intranet del Instituto se renueva y pasa a ser Ecosistema Humboldt
			</p>
			<a href="#" class="text-sm text-white underline decoration-solid">Ver Más</a>
		</div> -->
  </div>
  <!-- <div class="swiper-slide">
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img
        src="img/banner/Banner-intra-4.png"
        alt=""
        class="w-full rounded-lg"
      />
    </a> -->

  <!-- <div class="absolute bottom-0 bg-azul-humboldt w-full px-5 py-2">
			<p class="text-base text-white">
				<b>Noticias</b>
			</p>
			<p class="text-base text-white">
				La intranet del Instituto se renueva y pasa a ser Ecosistema Humboldt
			</p>
			<a href="#" class="text-sm text-white underline decoration-solid">Ver Más</a>
		</div> -->
</div>

<script>
  import "swiper/css";
  import Swiper from "swiper";
  import { register } from "swiper/element/bundle";
  register();

  const swiper = new Swiper("#noticias", {
    slidesPerView: 1,
    autoplay: true,
    loop: true,
    speed: 10000,
    pagination: {
      el: ".swiper-pagination",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
